.App {
  display: flex;
  justify-content: center;
  font-family: arial;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px 15px;
  overflow: auto;
  width: 100%;
}

.form-container h1 {
  font-size: 25px;
}

.form-container h2 {
  font-size: 20px;
}

.field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="submit"] {
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .form-container {
    width: 50%;
  }

  .form-container h1 {
    font-size: 30px;
  }

  .form-container h1 {
    font-size: 25px;
  }
}
